.popup__close-button {
  padding: 0;
  margin: 0;
  background: url("../../../images/close-icon.svg") no-repeat center;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  cursor: pointer;
  transition: opacity .2s;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 700px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
