.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 40px 0 51px;
  }
}
