.card__delete-button {
  background: url("../../../images/basket.svg") no-repeat center;
  background-size: contain;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .2s;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: .6;
}
