.popup__container {
  width: 282px;
  color: #000;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 25px 22px;
  margin: 0 19px;
  box-sizing: border-box;
}

@media screen and (min-width: 700px) {
  .popup__container {
    margin: 0;
    width: 430px;
    padding: 34px 36px 37px;
  }
}
